<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h1>Edit your Details</h1>
    <form method="post" action="/listings/<%=listing.id%>?_method=PUT" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-lable"></label>
        <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control">
    </div>
    <div class="mb-3">
        <label for="description" class="form-lable"></label>
        <textarea name="listing[description]" placeholder="description" class="form-control"><%=listing.description%> </textarea>
    </div>
    <div class="mb-3">Original Image <br>
        <img src="<%= originalImageUrl %>" alt="image">
    </div>
    <div class="mb-3">
        <lable for="image" class="form-lable">Upload Image</lable>
        <!-- form-lable and form-contol are prestyle class in boot-strap -->
    <input type="file" class="form-control"  name="listing[image]">
     </div>
    <div class="row">
    <div class="mb-3 col-md-4">
        <label for="price" class="form-lable"></label>
        <input type="number" class="form-control" name="listing[price]" value="<%=listing.price%>">
    </div>
    <div  class="mb-3 col-md-8" >
        <label for="location" class="form-lable"></label>
        <input type="text" class="form-control" name="listing[location]" value="<%=listing.location%>">
    </div>
</div>
    <div  class="mb-3">
        <label for="country" class="form-lable"></label>
        <input type="text" class="form-control" name="listing[country]" value="<%=listing.country%>">
    </div>

        <button class="btn btn-dark">Edit</button>
         <br> <br> <br> <br>
    </form>
</div>
</div>
    
</body>
